body {
    font-family: Arial, sans-serif;
    background-color: #d6d61d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(249, 5, 5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#stock-info {
    margin-top: 20px;
    font-size: 18px;
}
